body {
    background-color:coral;
}

header {
    background-color: blue;
    margin: 2%;
    padding: 1%;
    border-radius: 5px;
    border: 10px;
    border-style:solid;
    border-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.centerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.arbeteBox {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    padding: 0.5%;
    margin: 1%;
    border: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: crimson;
}

footer {
    text-align: center;
}

#bread_text1_samme {
    font-size: x-large;
    color:goldenrod;
}

#bread_text2_samme {
    font-size: x-large;
    color:lightcoral;
}

#samuel_projekt_titel {
    font-size: xx-large;
}